.nav-link {
    color: rgb(0, 0, 0);
}
nav {
    background-color: rgb(255, 255, 255);
    height: 60px;
}
.nav-link:hover{
    color: white;
}
footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgb(2, 97, 89);
    color: white;
    height: 80px;
    text-align: center;
}

#Logo{
    background: white;
    height: 240px;
    text-align: center;
    background-image: url(../img/logo_chiapasoculto.png);
    background-repeat: no-repeat;
    background-size: 250px 150px;
}