.borde {
    padding: 20px;
}

.text-border {
    position: relative;
    font-size: 15px;
    color: #000000;
    padding: 20px 30px;
    line-height: 1.5;
    line-break: strict;
    z-index: 1;
    background-color: #86C5CD;
}

.text-border::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    padding: 0px;
    transform: translate(-15px, -15px);
}

.nav-link {
    color: rgb(0, 0, 0);
}
nav {
    background-color: rgb(255, 255, 255);
    height: 60px;
}
.nav-link:hover{
    color: rgb(0, 0, 0);
}

.footer {
    position: fixed;
    bottom: 0;
    left: 0; 
    width: 100%;
    background-image: url('../img/separador_oculto.jpeg');
    background-repeat: repeat-x; 
    background-size: contain; 
    height: 50px; 
    z-index: 100; 
}

.custom-bullets {
    list-style-type: none;
    padding: 0; 
    margin: 0; 
    text-align: left; 
}

.custom-bullets li {
    display: block; 
    margin-bottom: 0px; 
    position: relative; 
}

.custom-bullets li::before {
    content: "-";
    position: absolute; 
    left: -20px; 
    padding-right: 10px; 
}

a {
    text-decoration: none; 
    color: black; 
    display: block; 
    width: fit-content; 
    margin: 0 auto;
}

.custom-bullets2 {
    list-style-type: none;
    padding: 0; 
    margin: 0;
    text-align: justify;
    padding-left: 0px;
}

.custom-bullets2 li {
    display: block;
    margin-bottom: 10px; 
    position: relative;
    text-align: left; 
}

.custom-bullets2 li::before {
    content: "-";
    position: absolute; 
    left: -10px; 
    padding-right: 0px;
}

a.normal {
    color: rgba(0, 0, 255, 0.792);
    text-decoration: underline;
    display: inline-block;
    vertical-align: middle;
    position: relative;
    padding-right: 30px;
}

a.normal img {
    position: absolute;
    right: 0; 
    top: 0;
    height: 25px; 
}

#Logo{
    background: white;
    height: 240px;
    text-align: center;
    background-image: url(../img/logo_chiapasoculto.png);
    background-repeat: no-repeat;
    background-size: 250px 150px;
}

.paquetes {
    width: 90%;
    text-align: center;
    margin: 0 auto;
}

.paquetes td {
    padding: 1.5rem;
}

.paquetes img {
    display: block;
    margin: 0 auto;
    width: 250px;
    height: 250px;
}

.paquetes1 {
    width: 70%;
    text-align: center;
    margin: 0 auto;
}

.paquetes1 td {
    padding: 1.5rem;
}

.paquetes1 img {
    display: block;
    margin: 0 auto;
    width: 250px;
    height: 250px;
}

.paquetes2 {
    width: 70%;
    text-align: center;
    margin: 0 auto;
}

.paquetes2 td {
    padding: 1.5rem;
}

.paquetes2 img {
    display: block;
    margin: 0 auto;
    width: 250px;
    height: 250px;
}

.paquetes3 {
    width: 50%;
    text-align: center;
    margin: 0 auto;
}

.paquetes3 td {
    padding: 1.5rem;
}

.paquetes3 img {
    display: block;
    margin: 0 auto;
    width: 250px;
    height: 250px;
}

.parrafo{
    font-size: 15px;
    color: #000;
    padding: 0 200px;
    margin-bottom: 20px;
}

.tabla_tours{
    padding: 50px 160px ;
    background-color: #ECF4F8;
    border-collapse: separate; 
    border-spacing: 25px;
    display: flex; 
}
.tabla_tours img{
    margin-bottom: 5px;
    border-radius: 5%;
}
h1{
    text-align: center;
    color: #2AB7CA;
}
.tabla_paquetes{
    padding: 50px 160px ;
    background-color: #ECF4F8;
    border-collapse: separate; 
    border-spacing: 25px;
    display: flex;
}
.tabla_paquetes img{
    margin-bottom: 5px;
    border-radius: 5%;
}

.parrafo{
    font-size: 15px;
    color: #000;
    padding: 0 200px;
    margin-bottom: 20px;
}

.tabla_tours{
    padding: 50px 160px ;
    background-color: #ECF4F8;
    border-collapse: separate; 
    border-spacing: 25px;
    display: flex; 
}
.tabla_tours img{
    margin-bottom: 5px;
    border-radius: 5%;
}
h1{
    text-align: center;
    color: #2AB7CA;
}
.tabla_paquetes{
    padding: 50px 160px ;
    background-color: #ECF4F8;
    border-collapse: separate; 
    border-spacing: 25px;
    display: flex;
}
.tabla_paquetes img{
    margin-bottom: 5px;
    border-radius: 5%;
}

.piepagina{
    background-color: #7cc1f33e;
}

.repeated-image {
    display: inline-block; /* Permite asignarle ancho y alto */
    background-image: url('./view/img/separador_oculto.jpeg'); /* Ruta de la imagen */
    background-repeat: repeat; /* Hace que la imagen se repita */
    background-size: 7% 20%; /* Ajusta el tamaño de la imagen al 7% de ancho y 20% de alto */
    width: 100%; /* Ancho donde la imagen se repetirá */
    height: 100px; /* Altura del contenedor */
}

